
.card-container{
    margin: 50px;
    margin-bottom: 0px !important;
    background-color: #cee5f7d4;
    /* background-color: rgba(255, 255, 255, 0.081); */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #91bbdb9b;
    height: 390px;
    cursor: pointer;
}

.cardThumbnail-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardThumbnail{
    width: 360px;
    height: 230px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 5px;
    transition: all ease-in-out 200ms;
    
}

.card-container :hover{
    .cardThumbnail{
        transform: translateY(-40px);
        box-shadow: 0px 14px 12px  rgba(0, 0, 0, 0.8);
    }
}

.card-details{
    line-height: 20px;
    width: 250px;
}
.card-base{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
/* .card-button-container{
   align-self:last baseline;
} */
.card-button {
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f94b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    margin-top: 51px;
}

.card-button > img {
    width: 14px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.card-button:hover > img {
    font-size: 1.2em;
    transform: translateX(5px);
}

.card-button:hover {
    box-shadow: 9px 9px 33px #efefef, -9px -9px 33px #eae4e4;
    transform: translateY(-2px);
}
.rating-star{
    margin-top: 3px;
    width: 17px;
    margin-bottom: -2px
}