.header_container{
    display: flex;
    flex-wrap: wrap;
    background-color: #3d405b;
    height: 50px;
}
.Header-font{
    margin: 10px 20px 2px 5px;
    color: #FFFFFF;
}
.sign_in-button{
    /* background-color: transparent;
    border: 0px;
    font-size: 17px; */
    margin: 2px 5px 3px 950px;
   
}
.sign_in {
    margin: 8px 5px 2px 950px;
    margin-left: 950px;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: 3d405b;
    text-align: center;
    font-size: 15px;
    padding: 8px  16px 16px 16px;
    width: 150px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   .sign_in span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .sign_in span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .sign_in:hover span {
    padding-right: 15px;
   }
   
   .sign_in:hover span:after {
    opacity: 1;
    right: 0;
   }