.Features-dual{
    display: flex;
    justify-content: space-evenly;
}
.Features{
    width: 600px;
    background-color:rgb(167, 204, 239);
    margin:20px;
    border-radius: 20px;
    display: flex;
    padding: 3px;
    padding: 10px;
    align-items: center;
}
.features-icon{
    width: 64px;
    height: 64px;
}
.Features-container{
    display: flex;
    flex-direction: column;
}
.Features-headfont{
    margin:.4em ;
}
.Features-font{
    margin: .4em;
}
