.Features-dual{
    display: flex;
    justify-content: space-evenly;
}
.Features{
    width: 600px;
    background-color:#cee5f7;
    margin:20px;
    border-radius: 20px;
    display: flex;
    padding: 3px;
    padding: 10px;
    align-items: center;
}
.features-icon{
    width: 64px;
    height: 64px;
    padding: 10px;
}
.Features-container{
    display: flex;
    flex-direction: column;
}
.Features-headfont{
    margin: 5px ;
}
.Features-font{
    margin: .4em;
    font-size: 14px;
    padding: 5px;
    line-height: 20px;
    text-align: justify;
}
